@using SmartMirrorHubV6.Shared.Components.Data.Music.Lyrics;
@inherits MirrorGenericBaseComponent<LyricsResponse>

@if (Response != null && IsShowing)
{
    <div class="d-flex justify-content-center border-top border-white">
        @foreach (var l in Response.LyricsPages)
        {
            <pre class="lyrics-text text-center mx-2">@l</pre>
        }
    </div>
}