.weather-container {
    display: flex;
    flex-direction: row;
}

.weather-col-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.weather-row-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.weather-row-bottom {
    margin-top: 10px;
}

.weather-row-container * {
    margin: 5px;
}

.weather-bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle div {
    margin: 10px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    color: white;
    line-height: 100px;
    text-align: center;
    border: 2px solid skyblue;
}

.weather-container .icon {
    width: 42px;
}

.weather-container .temperature {
    font-size: 32px;
    font-weight: bold;
}

.weather-container .humidity {
    font-size: 32px;
    font-weight: bold;
}

.weather-container .description {
    margin: 10px;
    font-weight: bold;
}
