.map-title {
    font-size: 20px;
    font-weight: bold;
}

.map-summary {
    font-size: 16px;
}

.map-laps {
    font-size: 14px;
}

.lap-name {
    width: 80px;
}

.lap-distance {
    width: 80px;
}