@using SmartMirrorHubV6.Shared.Components.Data.CouncilCollection;
@inherits MirrorGenericBaseComponent<RubbishCollectionResponse>

@if (Response != null && IsShowing)
{
    <Header Name="COLLECTION" ShowHeader="@ShowHeader" />
    <div class="collection-address">@Response.StreetAddress</div>
    <div class="collection-container">
        @foreach (var c in Response.Collections)
        {
            if (c.Type == CollectionType.FoodScraps)
                continue;

            <div class="d-flex align-items-center">
                <img class="collection-icon" src=@($"images/collection/{(int)c.Type}.png") />
                <div class="font-weight-bold">@c.CollectionDate.ToString("dddd MMMM d")</div>
            </div>
        }
    </div>
}